<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Passenger Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Raichur</td>
      <td>Hyderabad</td>
      <td>Rajesh</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bengaluru</td>
      <td>Mysore</td>
      <td>Rakesh</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Bellary</td>
      <td>Bengaluru</td>
      <td>Ramesh</td>
    </tr>
  </tbody>
</table>